apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-proxy
  namespace: proxy
  labels:
    {{- include "nginx-proxy.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      id: C0910893
  template:
    metadata:
      labels:
        {{- include "nginx-proxy.labels" . | nindent 8 }}
    spec:
      containers:
      - name: nginx-proxy
        image: hibajameel/nginx-proxy:latest
        ports:
        - containerPort: 80

